.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;

  height: 90vh;
} */
